# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\二开学习\ExcelDataFactory\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
